<div style="display: inline-block;">

    <div style="display: inline-block;" data-bind="if: doConnectionPolling() && hasIpAddress()">
        Connected: &nbsp;
        <span style="display: inline-block;" data-bind="text:ipAddress"></span>
    </div>


    <div style="display: inline-block;" data-bind="if: doConnectionPolling() && !hasIpAddress()">
        Connecting... &nbsp;
        <div class="bar-loader" style="display: inline-block; width: 10px;"></div>
    </div>

    <div style="display: inline-block;" data-bind="ifnot: doConnectionPolling">
        No Connection configured;
    </div>

</div>