.spining-loader-container {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.spining-loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: spining-loader-frames 1s infinite;
}

@keyframes spining-loader-frames {
    to {
        transform: rotate(.5turn)
    }
}



.bar-loader {
    width: 45px;
    aspect-ratio: .75;
    --c: no-repeat linear-gradient(#000 0 0);
    background:
        var(--c) 0% 100%,
        var(--c) 50% 100%,
        var(--c) 100% 100%;
    background-size: 20% 65%;
    animation: bar-loader-frames 1s infinite linear;
}

@keyframes bar-loader-frames {
    20% {
        background-position: 0% 50%, 50% 100%, 100% 100%
    }

    40% {
        background-position: 0% 0%, 50% 50%, 100% 100%
    }

    60% {
        background-position: 0% 100%, 50% 0%, 100% 50%
    }

    80% {
        background-position: 0% 100%, 50% 100%, 100% 0%
    }
}