table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 12px 5px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #C5CEFF;
}

.app-container {
    padding: 5px;
    background-color: #FFDB8657;
    width: 100%;

}

.active-menu-container {}

html {
    height: 100%;
}

body {
    min-height: 100%;

    display: flex;
    align-items: stretch;
}